<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>
            <p>Beste ${userName}</p>

            <p>
                ${sender} nodigt u uit om coach te worden van gebruiker ${client}.<br/>
                U kan volgende link gebruiken om in te gaan op deze uitnodiging.
            </p>

            <p>
                <a href='${url}'>
                    Uitnodiging accepteren
                </a>
            </p>

            <p>
                Vriendelijke groeten,<br/>
                Het AbleChat Team
            </p>

            <p>
                Deze mail werd verstuurd door ons systeem.
                Gelieve niet te antwoorden op deze mail.
            </p>
        </div>
    </body>
</html>
