<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>
            <p>Dear ${userName}</p>

            <p>
                ${sender} has invited you to become a coach of user ${client}.<br/>
                You can use the following link to accept this invitation.
            </p>

            <p>
                <a href='${url}'>
                    Accept invitation
                </a>
            </p>

            <p>
                Kind regards,<br/>
                The AbleChat Team
            </p>

            <p>
                This mail was sent by our automated system.
                Please do not reply to this email.
            </p>
        </div>
    </body>
</html>
