<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>
            <p>Beste ${userName}</p>

            <p>U kan uw account activeren met behulp van volgende link.</p>

            <p>
                <a href='${url}'>
                    Activeer account
                </a>
            </p>

            <p>
                Vriendelijke groeten,<br/>
                Het AbleChat Team
            </p>

            <p>
                Deze mail werd verstuurd door ons systeem.
                Gelieve niet te antwoorden op deze mail.
            </p>
        </div>
    </body>
</html>
