<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>
            <p>Dear ${userName}</p>

            <p>You can activate your account by using the following link.</p>

            <p>
                <a href='${url}'>
                    Activate account
                </a>
            </p>

            <p>
                Kind regards,<br/>
                The AbleChat Team
            </p>

            <p>
                This mail was sent by our automated system.
                Please do not reply to this email.
            </p>
        </div>
    </body>
</html>
