<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.kpoint.pictochat.app"
    android:versionCode="16"
    android:versionName="1.6" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-feature android:name="android.hardware.wifi" />

    <application
        android:name="be.kpoint.pictochat.App"
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ModeActivity"
            android:label="@string/app_name_with_version" >
        </activity>        
        <activity
            android:name=".activities.ErrorActivity"
            android:label="@string/app_name_with_version"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.client.AbstractClientChatActivity"
            android:label="@string/app_name_with_version" >
        </activity>
        <activity
            android:name=".activities.client.RoomsActivity"
            android:label="@string/app_name_with_version" >
        </activity>
        <activity
            android:name=".activities.client.ShowCodeActivity"
            android:label="@string/app_name_with_version" >
        </activity>
        <activity
            android:name=".activities.client.ChatWithCoachesActivity"
            android:label="@string/app_name_with_version" >
        </activity>
        <activity
            android:name=".activities.client.PrivateChatActivity"
            android:label="@string/app_name_with_version" >
        </activity>
        <activity
            android:name=".activities.coach.AbstractChatWithClientActivity"
            android:label="@string/app_name_with_version" >
        </activity>
        <activity
            android:name=".activities.coach.ClientListActivity"
            android:label="@string/app_name_with_version" >
        </activity>
        <activity
            android:name=".activities.coach.ClientDetailsActivity"
            android:label="@string/app_name_with_version" >
        </activity>
        <activity
            android:name=".activities.coach.GroupChatWithClientActivity"
            android:label="@string/app_name_with_version" >
        </activity>
        <activity
            android:name=".activities.coach.PrivateChatWithClientActivity"
            android:label="@string/app_name_with_version" >
        </activity>

        <service
            android:name="be.kpoint.pictochat.comm.pubnub.PubnubService"
            android:label="AbleChat PubnubService" />
        <service
            android:name="be.kpoint.pictochat.network.services.HttpGetService"
            android:label="AbleChat HttpGetService" />
        <service
            android:name="be.kpoint.pictochat.network.services.HttpPostService"
            android:label="AbleChat HttpPostService" />
        
        <receiver 
            android:name=".receivers.BootReceiver">
		    <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED"></action>
		    </intent-filter>
		</receiver>
		<receiver 
		    android:name=".receivers.AlarmReceiver">		    
		</receiver>
    </application>

</manifest>
